bucket_path = "gs://gcs-dsci-ugrwt-notif-dev-prd/ankit_sahu/HP_v2/June_testing/integration_pipeline_test/"
cvocw_attribute_list = ["views", "clicks", "wishlists", "carts", "orders"]
cv_attribute_list = ["views", "clicks"]
user_static_attributes = ["gender", "region", "OD_stage_cat"]
aggregation_range = [1,3,7,14,28]
user_rollup_table_aggregation_range = [7,14,28]
rating_buckets = [rating_less_than_3, rating_between_3_4, rating_greater_than_4]
price_buckets = [price_less_than_25_percentile, price_between_25_75_percentile, price_greater_than_75_percentile]
region_buckets = [maharashtra, delhi, tamil nadu, uttar pradesh, karnataka, telangana, bihar, west bengal, kerala, gujarat, assam, orissa, rajasthan, andhra pradesh, punjab, madhya pradesh]
mobilebrand_buckets = [xiaomi, vivo, oppo, samsung, realme, oneplus]
installsource_buckets = [googleadwords_int, facebook ads, referral]
label_date = "2024-06-10"